RewriteEngine On
RewriteRule ^g/?$ / [R]
RewriteRule ^g/([A-Z0-9]+)/?$ graph.php?item=$1 [L]
RewriteRule ^i/?$ / [R]
RewriteRule ^i/([A-Za-z0-9-]+)/?$ item.php?item=$1 [L]
RewriteRule ^r/?$ / [R]
RewriteRule ^r/([A-Za-z0-9-]+)/?$ rss.php?feed=$1 [L]
RewriteRule ^all/$ all.php [L]
RewriteRule ^contact/$ contact_form.php [L]
RewriteRule ^daily/$ daily.php [L]
RewriteRule ^error/$ error.php [L]
RewriteRule ^faq/$ faq.php [L]
RewriteRule ^search/$ search.php [L]
